.config/Wallpapers/**/*.png
.config/Wallpapers/**/*.jpg
.config/Wallpapers/**/*.jpeg
.config/Wallpapers/**/*.gif
.config/Wallpapers/**/*.mp4
.config/Wallpapers/**/*.webp
.config/Wallpapers/**/*.bmp
.config/Wallpapers/**/*.mp4
.config/Wallpapers/**/*.mkv
.config/Wallpapers/**/*.webm
.config/Wallpapers/**/*.mov
.config/Wallpapers/**/*.avi
tmp.txt

# Wallpaper media — keep these out of git
.config/Wallpapers/images/
.config/Wallpapers/thumbnails/
.config/Wallpapers/vids/
